
body {
	background-color: lightgray;
	}

.gridRow {
	clear: both;
	}

.slideButtonDiv {
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	}

.slideButton {
	width: 100%;
	height: 100%;
	background-color: #333;
	border: none;
	padding: none;
	margin: none;
	display: inline-block;
	}

.slideButtonImg {
	width: 100%;
	height: 100%;
	}

.gridSquare {
	float: left;
	width: 100px;
	height: 100px;
	text-align: center;
	position: relative;
	}

.tileImg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	}

.debug {
	z-index: 10000;
	line-height: 2em;
	display: none;
	}

.exitNorth {
	z-index: 1;
	}

.exitSouth {
	z-index: 2;
	}

.exitEast {
	z-index: 3;
	}

.exitWest {
	z-index: 4;
	}

.stairs {
	z-index: 5;
	}

.treasure {
	z-index: 6;
	}

.monster {
	z-index: 20;
	}

.warrior {
	z-index: 10;
	}

.thief {
	z-index: 11;
	}

.wizard {
	z-index: 12;
	}

.cleric {
	z-index: 14;
	}




#heroesDiv {
	clear: both;
	}
	
.heroDiv {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	margin: 10px;
	width: 120px;
	}

.heroHeader {
	text-align:right;
	}

.heroDescription {
	font-size: 0.8em;
	text-align: center;
	}

#warriorDiv {
	border: 4px solid red;
	}

#thiefDiv {
	border: 4px solid blue;
	}

#wizardDiv {
	border: 4px solid gold;
	}

#clericDiv {
	border: 4px solid green;
	}